body {
  background-color: #f9f7fe;
  font-family: "Montserrat", sans-serif;
  color: #222222;
}
.weather-app {
  background: #ffffff;
  max-width: 650px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 10px 10px 40px rgba(127, 120, 146, 0.09);
}
header,
main {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
footer {
  font-size: 13px;
  color: #a8a6b4;
  line-height: 14px;
  font-weight: 400;
  padding-top: 30px;
  text-align: center;
}
a {
  color: #885df1;
}
form {
  display: flex;
  justify-content: space-between;
}
input {
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-radius: 7px;
}
.form-input {
  padding: 15px 20px;
  width: 74%;
  background-color: #f9f7fe;
}
.form-button {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #885df1;
}
.form-button:hover {
  background-color: #662eed;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
.details {
  font-size: 16px;
  color: #a8a6b4;
  line-height: 24px;
  font-weight: 400;
}
.details strong {
  font-weight: 600;
  color: #f65282;
}
.current-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-temperature {
  position: relative;
  top: 14px;
}
.current-temperature img {
  width: 80px;
  height: 80px;
  position: relative;
  top: 12px;
}
.current-temperature-value {
  font-size: 80px;
  font-weight: 600;
}
.current-temperature-unit {
  font-size: 26px;
  font-weight: 500;
  position: relative;
  bottom: 37px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.wind-direction {
  position: relative;
  top: 5px;
  transform: rotate(0deg);
  font-size: 20px;
}
